@model SampleProjectMVCAJSEF.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div layout="row" layout-align="center center">
    <md-card flex-gt-xs="30" flex-xs="90">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex class="md-headline text-center">Account Settings</span>
            </div>
        </md-toolbar>
        <md-card-content>
            <div layout="column" layout-align="center">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div layout="row" layout-align="center center">
                        <div style="width:80%;">
                            <md-input-container style="width:100%;">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })

                                @Html.PasswordFor(m => m.OldPassword, new { @class = "", @flex = "100" })

                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-align="center center">
                        <div style="width:80%;">
                            <md-input-container style="width:100%;">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })

                                @Html.PasswordFor(m => m.NewPassword, new { @class = "",@flex="100" })

                            </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div style="width:80%;">
                                <md-input-container style="width:100%;">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })

                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "", @flex = "100" })

                                </md-input-container>
                                </div>
                            </div>
                        <div layout="row" layout-align="center center">
                            <md-input-container>
                                <input type="submit" value="Save" class="md-button md-raised md-accent" />
                            </md-input-container>
                        </div>
                        }
                    </div>
        </md-card-content>
    </md-card>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}