@model SampleProjectMVCAJSEF.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div layout="row" layout-align="center center">
    <md-card flex-gt-xs="30" flex-xs="90">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex class="md-headline text-center">Forgot Password</span>
            </div>
        </md-toolbar>
        <md-card-content>
            <div layout="column" layout-align="center">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div layout="row" layout-align="center center">
                        <div style="width:80%;">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <md-input-container style="width:100%;">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "", @flex="100" })
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-align="center center">
                        <div class="form-group">
                            <div>
                                <input type="submit" class="md-button md-raised md-accent" value="Email Link" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </md-card-content>
    </md-card>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
